<!DOCTYPE html>
<html>
  <head>
    <title>EvilChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <%= content_tag :body, loco_body_data do %>
    <%= yield %>
    <%= javascript_include_tag 'manifest', 'vendor', 'application' %>
  <% end %>
</html>
