<!DOCTYPE html>
<html>
  <head>
    <title>EvilChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <%= content_tag :body, loco_body_data do %>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  <% end %>
</html>
